@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Heebo&family=Playfair+Display&display=swap');

body{
  font-family: 'Heebo', 'Playfair Display', 'DM Serif Display';
  background-color: #dbdbdb;
}


#main-navbar ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  color: white;
}
#main-navbar ul li{
  float: right;
}
#main-navbar ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
=======

.title h1{
  font-size: 8vw;
  margin: 3%;
}
.title p{
  font-size: 2vw;
}

.port .title p{
  padding: 3%;
  width: 50%;
  background-color: #806d48;
}

.port h2{
  font-size: 4vw;
  margin: 1%;
}

.port ol{
  margin: 2%;
}
